body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Ensure the entire viewport height is covered */
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

section {
    margin: 20px;
    text-align: center; /* Center text within sections */
}

h2 {
    color: #333;
}

#project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    width: 200px;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: white;
}
